@import '~react-toastify/ReactToastify.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

@layer components {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background: var(--background);
    @apply p-2 border rounded w-full;
  }
  
}
